@model FEESCTI_ASPNET.Models.Inscricao

@{
  ViewData["Title"] = "Resultado da busca por inscrição";
}

@if (Model == null)
{
  <h1>
    O número de inscrição
    não foi encontrado
  </h1>

}
else if (Model.Status.Equals("Pendente"))
{
  <h1>
    Caro(a) @Model.Nome, sua
    inscrição ainda está pendente de análise
  </h1>
}
else if (Model.Status.Equals("Aceita"))
{
  <h1>
    Caro(a) @Model.Nome,
    sua inscrição foi aceita
  </h1>
}
else
{
  <h1>
    Caro(a) @Model.Nome, sua inscrição não foi aceita pelo motivo: @Model.MotivoStatusNegado
  </h1>
}